* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.col,
[class*="col-"] {
    padding-left: 0;
    padding-right: 0;
}

body {
    background-image: url(images/3.jpg);
    background-size: cover;
}

.body1 {
    background-image: url(images/3.jpg);
    background-size: cover;
    height: 91vh;
}

.body2 {
    background-image: url(images/15.jpg);
    background-size: cover;
    height: 100vh;
}

.body3 {
    background-image: url(images/4.jpg);
    background-size: cover;
    height: 100vh;
}

.body4 {
    background-image: url(images/20.jpg);
    background-size: cover;
    height: 100vh;
}